<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>{% block title %}Авторизация{% endblock %}</title>
		<meta name="generator" content="Symfony 3" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% stylesheets '@bootstrap_css' %}
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen">
		{% endstylesheets %}
		<link href="{{ asset('css/styles.css') }}" rel="stylesheet">
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block topbar %}
		<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Тестовое задание для iKantam</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ logout_url('main') }}">Выход</a></li>
					</ul>
				</div>
			</div>
		</div>
		{% endblock %}
		<div class="container-fluid">
			<div class="row">
				{% block navigation %}
				<div class="col-sm-3">
					<hr>
					<ul class="nav nav-stacked">
						<li><a href="{{ path('file_add') }}">Загрузить файл</a></li>
						<li><a href="{{ path('file_list') }}">Просмотреть все файлы</a></li>
					</ul>
				</div>
				{% endblock %}
				{% block body %}{% endblock %}
			</div>
		</div>
		<footer class="text-center"></footer>
		
		{% javascripts '@jquery' '@bootstrap_js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<script src="{{ asset('js/scripts.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
