{% extends 'base.html.twig' %}

{% block title %}Загрузка файлов{% endblock %}
{% block body %}

	{{ form_start(form) }}
		{{ form_row(form.dossier) }}
		{{ form_row(form.save) }}
	{{ form_end(form) }}

{% endblock %}

{% block navigation %}
<div class="col-sm-3">
	<hr>
	<ul class="nav nav-stacked">
		<li class="active"><a href="{{ path('file_add') }}">Загрузить файл</a></li>
		<li><a href="{{ path('file_list') }}">Просмотреть все файлы</a></li>
	</ul>
</div>
{% endblock %}
